@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prompt', sans-serif;
}

.Navigation-bar {
  background-color: rgb(183, 224, 240);
  display: flex;
  height: 80px;
}

.nav-title {
  flex-grow: 1;
  font-size: 40px;
  padding: 10px;
}

.navLinks {
  font-size: 18px;
  font-weight: 900;
  align-self: center;
}

.link-el {
  text-decoration: none;
  padding: 10px;
  color: rgb(36, 36, 36);
  transition: all ease 0.2s;
}

.link-el:hover {
  border-bottom: 3px solid black;
}
